.header__services-list-element-anchor {
    /* text-transform: uppercase; */
    font-size: 21px;
    font-weight: 700;
    color: #d0a2dc;
    display: inline-flex;
    min-width: 150px;
    align-items: center;
    /* min-height: 60px; */
    min-height: 45px;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: border 0.5s linear, color 0.5s linear;
}
.header__services-list-element-anchor:hover {
    /* background-color: #d0a2dc; */
    border: 2px solid #d0a2dc;
    /* color: white; */
    /* border: 1px solid #d0a2dc; */
}