.footer__list-element {
  min-width: 55px;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d0a2dc;
  border-radius: 10px;
  transform-style: preserve-3d;
}