.services__service_twelveth {
  background-color: #10c070;
  /* grid-row: 3/3; */
  /* grid-column: 4/4; */
  /* min-width: 320px; */
  min-height: 140px;
  max-width: 320px;
  max-height: 140px;
  /* clip-path: polygon(12% 0, 88% 0%, 100% 50%, 88% 100%, 12% 100%, 0 50%); */
  clip-path: polygon(14% 0, 86% 0%, 100% 50%, 86% 100%, 14% 100%, 0 50%);
  min-width: 288px;
  grid-column: 5/6;
  grid-row: 2/2;
  margin: 67px 0 0 15px;
}