.clients {
  min-height: 500px;
    margin: 5% 2% 0 0;
    border-radius: 0 120px 0 0;
    border-top: 2px solid rgba(94,218,227,255);
    border-right: 2px solid rgba(94,218,227,255);
    box-shadow: 0 0 20px rgb(94 218 227), 0 0 35px rgb(94 218 227);
}