.header__services-list-element-button {
  color: #d0a2dc;
  min-width: 150px;
  font-size: 18px;
  min-height: 45px;
  /* border: 2px solid #d0a2dc; */
}
.header__services-list-element-button:hover {
  border-radius: 30px;
  border: 2px solid #d0a2dc;
}