.services__service_ninth {
  background-color: #6fd387;
  grid-column: 5/5;
  grid-row: 1/1;
  max-width: 160px;
  max-height: 140px;
  min-width: 160px;
  min-height: 140px;
  justify-self: start;
  margin: -95px 0 0 -12px;
}