@import url(./__footer-wrapper/footer__footer-wrapper.css);
@import url(./__span/footer__span.css);
@import url(./__list/footer__list.css);
@import url(./__list-element/footer__list-element.css);
@import url(./__list-element-overlay/footer__list-element-overlay.css);
@import url(./__list-element-logo/footer__list-element-logo.css);
.footer {
  display: none;
  position: absolute;
  bottom: 5%;
  z-index: 2;
  /* right: 15%; */
  right: 3%;
}